:root {
	--clr-primary: #d50000;
	--clr-grey100: #f0f7f8;
	--clr-grey200: #cfd8dc;
	--clr-grey300: #a7b7be;
	--clr-grey400: #6b7e86;
	--clr-grey500: #425a65;

	--radius: 0.3rem;
	--padding: 1rem;
}
*{
  margin: 0;
  padding:0%;
  box-sizing: border-box;
}

html{
  font-size: 10px
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(244, 244, 244);
  color: #333;
}

p{
  font-size: 1.6rem
}

small{
  font-size: 1.2rem;
  font-weight: 700;
}

.container{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 4.4rem;
  text-align: center
}

.form{
  display: flex;
}

.input, button{
  padding: .50rem;
  line-height: 1.5;
  font-size: 1.8rem;
}

.card--list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin: 2rem;
	grid-gap: 2rem;
	justify-content: center;
}
.card{
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  transition: 200ms ease-in;
  
  overflow: hidden;
	box-shadow: 0 2px 20px var(--clr-grey300);
	border-radius: var(--radius);
  cursor: pointer;
}

.card--img{
  display: block;
	width: 100%;
	height: 22rem;
	object-fit: cover;
}

.card--content{
  padding: .5rem;
}